menu "MPU Test config"

comment "MPU Test configuration depends on MPU Component configuration"

#
# I2CBUS configuration
#

choice MPU_TEST_I2CBUS_PORT
    prompt "Main I2C controller port"
    default MPU_TEST_I2C0
    depends on MPU_I2C

config MPU_TEST_I2C0
    bool "I2C0"
config MPU_TEST_I2C1
    bool "I2C1"

endchoice

config MPU_TEST_I2CBUS_PORT
    int
    default 0 if MPU_TEST_I2C0
    default 1 if MPU_TEST_I2C1
    depends on MPU_I2C

choice MPU_TEST_I2CBUS_ADDR
    prompt "I2C Address"
    default MPU_TEST_ADDR_ADO_LOW
    depends on MPU_I2C

config MPU_TEST_ADDR_AD0_LOW
    bool "AD0 low"
config MPU_TEST_ADDR_AD0_HIGH
    bool "AD0 high"

endchoice

config MPU_TEST_I2CBUS_ADDR
    int
    default 0 if MPU_TEST_ADDR_AD0_LOW
    default 1 if MPU_TEST_ADDR_AD0_HIGH
    depends on MPU_I2C


config MPU_TEST_I2CBUS_CLOCK_HZ
    int "Main I2C clock speed (hz)"
    default 400000
    depends on MPU_I2C

config MPU_TEST_I2CBUS_SDA_PIN
    int "Main I2C SDA pin"
    range 0 33
    default 21
    depends on MPU_I2C

config MPU_TEST_I2CBUS_SCL_PIN
    int "Main I2C SCL pin"
    range 0 33
    default 22
    depends on MPU_I2C


#
# SPIBUS configuration
#

choice MPU_TEST_SPIBUS_HOST
    prompt "SPI device host"
    default MPU_TEST_HSPI
    depends on MPU_SPI

config MPU_TEST_HSPI
    bool "HSPI"
config MPU_TEST_VSPI
    bool "VSPI"

endchoice

config MPU_TEST_SPIBUS_HOST
    int
    default 1 if MPU_TEST_HSPI
    default 2 if MPU_TEST_VSPI
    depends on MPU_SPI


config MPU_TEST_SPIBUS_CLOCK_HZ
    int "SPI clock speed (Hz)"
    default 1000000
    depends on MPU_SPI

config MPU_TEST_SPIBUS_MOSI_PIN
    int "SPI MOSI pin"
    range 0 33
    default 5
    depends on MPU_SPI

config MPU_TEST_SPIBUS_MISO_PIN
    int "SPI MISO pin"
    range 0 39
    default 17
    depends on MPU_SPI

config MPU_TEST_SPIBUS_SCLK_PIN
    int "SPI SCLK pin"
    range 0 33
    default 23
    depends on MPU_SPI

config MPU_TEST_SPIBUS_CS_PIN
    int "SPI CS pin"
    range 0 33
    default 16
    depends on MPU_SPI


#
# MPU Test
#

config MPU_TEST_AUXI2C_SDA_PIN
    int "Auxiliary I2C SDA pin"
    range 0 33
    default 33

config MPU_TEST_AUXI2C_SCL_PIN
    int "Auxiliary I2C SCL pin"
    range 0 33
    default 26

config MPU_TEST_INTERRUPT_PIN
    int "Interrupt pin"
    range 0 40
    default 35

config MPU_TEST_FSYNC_PIN
    int "FSYNC pin"
    range 0 33
    default 14


endmenu