.vscode/
**/build
**/sdkconfig
**/sdkconfig.old
tools.mk
NOTES.md

## this partition table is generated
test/unit-test-app/partition_table_unit_test_app.csv

## temporarily
include/mpu/fusion.hpp
include/mpu/utils.hpp