menu "MPU"

choice MPU_CHIP_MODEL
    prompt "MPU chip model"
    default MPU6050
    help
        Select MPU chip model which will be used with MPU library.

config MPU6050
    bool "MPU6050"
config MPU6500
    bool "MPU6500"
config MPU9150
    bool "MPU9150"
config MPU9250
    bool "MPU9250"
endchoice

config MPU_CHIP_MODEL
    string
    default "MPU6050" if MPU6050
    default "MPU6500" if MPU6500
    default "MPU9150" if MPU9150
    default "MPU9250" if MPU9250


choice MPU_COMM_PROTOCOL
    prompt "Communication Protocol"
    default MPU_I2C
    help
        Select MPU communication protocol. Available options are I2C and SPI, according to the MPU model.

config MPU_I2C
    bool "I2C"
    help
        Inter-Integrated Circuit (I²C)
        
config MPU_SPI
    bool "SPI"
    depends on MPU6500 || MPU9250
    help
        Serial Peripheral Interface bus (SPI)

endchoice

config MPU_COMM_PROTOCOL
    string
    default "I2C" if MPU_I2C
    default "SPI" if MPU_SPI


config MPU_ENABLE_DMP
    bool "Compile DMP (Digital Motion Processor)"
    default "y"
    help
        Compile DMP (Digital Motion Processor) code.

config MPU_FIFO_CORRUPTION_CHECK
    bool "FIFO packet corruption check"
    depends on MPU_ENABLE_DMP
    default "y"
    help
        Check for corrupted FIFO packet by monitoring the quaternion data and
        ensuring that the magnitude is always normalized to one. This
        shouldn't happen in normal operation, but if an I2C error occurs,
        the FIFO reads might become misaligned.

config MPU_LOG_ERRORS
    bool "Log errors on terminal"
    depends on ! LOG_DEFAULT_LEVEL_NONE
    default "n"
    help
        Log errors that happen within the MPU library.

config MPU_CACHE
    bool "Cache configurations"
    default "n"
    help
        Keep MPU configuration in memory, so it does not read from registers 
        every time a kind 'getConfigEnabled()' method is called inside MPU library.

endmenu

