menu "Invensense MPU"

choice MPU_CHIP_MODEL
    prompt "MPU chip selection"
    default MPU6050
    help
        Select MPU chip model which will be used with MPU library.

config MPU6050
    bool "MPU6050"
config MPU6500
    bool "MPU6500"
config MPU9150
    bool "MPU9150"
config MPU9250
    bool "MPU9250"
endchoice

config ENABLE_DMP
    bool "Compile DMP (Digital Motion Processor)"
    default "y"
    help
        Compile DMP (Digital Motion Processor) code.

config FIFO_CORRUPTION_CHECK
    bool "FIFO packet corruption check"
    depends on ENABLE_DMP
    default "y"
    help
        Check for corrupted FIFO packet by monitoring the quaternion data and
        ensuring that the magnitude is always normalized to one. This
        shouldn't happen in normal operation, but if an I2C error occurs,
        the FIFO reads might become misaligned.

config MPU_LOG_ERRORS
    bool "Log errors on terminal"
    depends on ! LOG_DEFAULT_LEVEL_NONE
    default "n"
    help
        Log errors that happen within the MPU library.

config MPU_CACHE
    bool "Cache configurations"
    default "n"
    help
        Keep MPU configuration in memory, so it does not read from registers 
        every time a 'getConfigEnabled()' method is called inside MPU library.

endmenu

